.appointment__form {
  width: 400px;
  min-height: 500px;
  margin: 1rem auto;
  padding: 1rem 2rem;
  box-shadow: 2px 1px 7px 1px lightgray;
}

.form__group {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
}

.form__group label {
  margin-bottom: 7px;
}

.form__group input {
  padding: 0.5rem;
}

.form__group textarea {
  font-size: 1.2rem;
  padding: 0.5rem;
}

.form__submit__button {
  font-size: 1rem;
  background-color: #ff69b4;
  color: #fff;
  border: 0;
  outline: 0;
}

.form__submit__button:hover {
  cursor: pointer;
  background-color: transparent;
  color: #ff69b4;
  transition: all 0.4s ease;
}

@media screen and(max-width: 650px) {
  .appointment__form {
    width: 300px;
  }
}
