.title__text {
  text-align: center;
  text-transform: uppercase;
  font-family: "Kaushan Script", cursive;
  margin: 1rem 0;
}

.title__text::after {
  content: "";
  width: 90px;
  margin: 0 auto;
  display: block;
  border-bottom: 3px solid #ff69b4;
}

.title__description {
  text-align: center;
  font-size: 1.1rem;
  margin-bottom: 2rem;
}
